In [7]:
import numpy as np

import pandas as pd

df=pd.read_csv ('/Users/Admin/OneDrive/Desktop/anconda/python/nik.csv')

print(df.columns)

print(df.dtypes)

print(df['State'].dtypes)


df.Y2008 ==df.Y2008.astype(float)
print( 'Y2008',df.Y2008.dtypes)
print(df.dtypes)

print(df.shape)

print(df.head())
print(df.head(2))

print(df[0:5])
print(df.iloc[0:5])

ser=pd.Series([1,2,3,1,2],dtype="category")
print(ser)

print(df.Index.unique())
print(pd.crosstab(df.Index,df.State))

print(df.sample(n=5))
print(df.sample(frac=0.1))

print(df['State'])
print(df.State)

print(df[["Index","State","Y2008"]])
print(df.loc[:,["Index","State","Y2008"]])

print(df.loc[0:2,["Index","State","Y2008"]])
print(df.loc[:,"Index":"Y2008"])
print(df.iloc[:,0:5])

x = pd.DataFram({"var1": np.arange(1,20,2)},
                index=[9,8,7,6,10, 1, 2, 3, 4, 5])
print(x)
print(x.iloc[:3])
print(x.loc[:10])

data= pd.DataFrame({"A" :["john","Mary","Julia","kenny","Henry"],
                   "B" :["Libra","Capricon","Aries","Scorpio","Aquarius"]})
print(data)
data.colum = ['Name','Zodiac signs']
print('\n',data)

data.columns = ['Name','Zodiac signs']
print(data)

data.rename(columns ={"Names":"Cust_Name"},inplace = True)
print('\n',data)

df.colums = df.colums.str.replace('Y' , 'Year')
print(df.colums)
df.set_index("Index",inplace = True)
print(df.head())
print(df.colums,'\n')
print(df.reset_index(inplace=True))
print('\n',df.head())

print(df.drop('Index',axis = 1))

print(df.drop('Index',axis = "columns"))

print(df.drop(['Index','State'],axis=1))

print(df.drop(0,axis = 0))

print(df.drop(0,axis = "index"))

print(df.drop([0,1,2,3],axis = 0))

print(df.sort_values("State",ascending = False))

print(df.Y2006.sort_values())

print(df.sort_values(["Index","Y2002"]))

df["differece"] = df.Y2008-df.Y2009
print(df)
df["difference"] = df.Y2008-df.Y2009

df["difference2"] = df.eval("Y2008 - Y2009")
print(df.head())
print(df.ratio == df.Y2008/df.Y2009)

print(df.describe())
print(df.describe(include = ['object']))
print(df.mean())

print(df.median())
print(df.agg(["mean","median"]))
print(df.Y2008.mean())
print(df.Y2008.median())
print(df.Y2008.min())
print(df.loc[:,["Y2002","Y2008"]].max())

print(df.groupby("Index")["Y2002","Y2003"].min())
print(df.groupby("Index")["Y2002","Y2003"].agg(["min","max","mean"]))
print(df.groupby("Index").agg({"Y2002": ["min","max"],"Y2003" : "mean"}))

print(df.group("Index").agg({"Y2002" : [("Y2002_min","min"),("Y2002_max","max")],
                             "Y2003" : [("Y2003_mean","mean")]}))
dt = df.groupby("Index").agg({"Y2002": ["min","max"], "Y2003" : "mean"})
dt.colums = ['Y2002_min', 'Y2002_max','Y2003_mean']
print(dt)

print(df.groupby(["Index", "State"]).agg({"Y2002": ["min","max"],"Y2003" : "mean"}))
dt = df.groupby(["Indrx","State"],as_index=False)["Y2002","Y2003"].min()
print(df[df.Index == "A"])
print(df.loc[df.Index == "A",:])
                        
print(df.loc[df.Index == "A","Stare"])
print(df.loc[(df.Index == "A") & (df.Y2002 > 150000),:])
print(df.loc[(df.Index == "A" ) | (df.Index == "W" ),:])
print(df.loc[df.Index.isin(["A","W"]),:])
print(df.query('Y2002 > 1700000 & Y2003 > 1500000'))
       
mydata = {'Crop': ['Rice', 'Wheat', 'Barley', 'Maize'],
          'Yield': [1010, 1025.2, 1404.2, 1251.7],
          'cost' : [102, np.nan, 20, 68] }
crops = pd.DataFram(mydata)
print(crops)
print(crops.isnull())
print(crops.notnull())
print(crops.isnull().sum())

print(crops[crops.cost.isnull()])
print(crops[crops.cost.isnull()].Crop )
print(crops[crops.cost.notnull()].Crop )
print(crops.dropna(how = "any").shape)
print(crops.dropna(how = "all").shap)
print(crops.dropna(subset = ['Yield',"cost"],how ='any').shap)
print(crops.dropna(subset = ['Yield',"cost"],how ='all').shap)
crops['cost'].fillna(value = "UNKNOWN",inplace = True)
print(crops)

data = pd.DataFrame({"Items" : ["TV","Washing Machine","Mobile","TV","TV","Washing Machine"],
                     "Price" : [10000,50000,20000,10000,10000,40000]})
print(data.loc[data.duplicated(),:])
print(data.loc[data.duplicated(keep = "first"),:])
print(data.loc[data.duplicated(keep = "last"),:])
print(data.loc[data.duplicated(keep = False),:])

print(data.drop_duplicates(keep = "first"))
print(data.drop_duplicates(keep = "last"))
print(data.drop_duplicates(keep = False,inplace = True))
iris = pd.read_csv("'/Users/Admin/OneDrive/Desktop/anconda/python/nik.csv'")
print(iris)
iris["setosa"] = iris.species.map({"setosa" : 1,"versicolor":0, "virginica": 0})
print(iris.head())

print(pd.get_dummies(iris.species,prefix = "species"))
print(pd.get_dummies(iris.species,prefix = "species").iloc[:,0:1])
species_dummies = pd.get_dummies(iris.species,prefix = "species").iloc[:,0]
print(species_dummies)
iris = pd.concat([iris,species_dummies],axis = 1)
print(iris.head())

print(pd.get_dummies(iris,columns = ["soecies"],drop_first = True).head())
print(iris.rank())
iris['Rank2'] = iris['sepal_length'].groupby(iris["species"]).rank(ascending=1)
print(iris.head())

iris["cum_sum"] = iris["sepal_length"].cumsum()
print(iris.head())
print(iris.quantile(0.5))

print(iris.quantile([0.1,0.2,0.5]))
print(iris.quantile(0.55))
students =pd.DataFrame({'Name': ['John','Mary','Henry','Augustus','kenny'],
                       'Zodiac Signs': ['Aquarius','Libra','Gemini','Pisces','Virgo']})
def name(row):
    if row["Names"] in ["john","Henry"]:
        return "yes"
    else:
        return "no"
students['flag'] = students.apply(name, axis=1)
print(students) 

students['flag'] = np.where(students['Names'].isin(['John','Henry']),'yes','no')
print(students)
def mname(row):
    if row["Names"] == "John" and row["zodiac signs"] == "Aquarius" : 
        return "yellow"
    elif row["Name"] == "Mary"and row["zodiac signs"] == "Libra" :
        return "blue"
    elif row["zodiac signs"] == "Pisces" :
        return "blue"
    else:
        return "black"
students['color'] = students.apply(mname, axis=1)
print(students)
conditions = [
    (students['Name'] == 'John') & (students['Zodiac signs'] == 'Aquarius'),
    (students['Name'] == 'Mary') & (students['Zodiac signs'] == 'Libra'),
    (students['Zodiac Signs'] == 'purple')]
choices = ['yellow', 'blue', 'purple']
students['color'] = np.select(conditions, choices, default= 'black')
print(students)

data1 = iris.select_dtypes(include=[np.number])
print(data.head())
data3 = iris._get_numeric_data()
print(data3.head(3))    
data4 = iris.select_dtypes(includ = ['object'])
print(data4.head(2))
students = pd.DataFrame({'Name': ['John','Mary','Augustus', 'Kenny'],
                         'Zodiac signs': ['Aquarius','Libra','Gemini','Pisces','Virgo']}) 
students2 = pd.DataFrame({'name': ['John','Mary','Henry','Augustus','Kenny'],
                          'Marks' : [50,81,98,25,35]}) 
data = pd.concat([students,students2])
print(data)

data = pd.concat([students,students2],axis = 1)
print(data)
print(students.append[students2])
classes = {'x':students, 'y': students2}
result = pd.concat(classes)
print(result)

result = pd.merge(students, students2, on='Names')
print(result)
result = pd.merge(students, students2,on='Names',how ="outer")
print(result)
result = pd.merge(students, students2, on='Names',how ="left")
print(result)
result = pd.merge(students, students2, on='Names',how = "right",indicator = True)
print(result)

Index(['Index', 'State', 'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007',
       'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015'],
      dtype='object')
Index    object
State    object
Y2002     int64
Y2003     int64
Y2004     int64
Y2005     int64
Y2006     int64
Y2007     int64
Y2008     int64
Y2009     int64
Y2010     int64
Y2011     int64
Y2012     int64
Y2013     int64
Y2014     int64
Y2015     int64
dtype: object
object
Y2008 int64
Index    object
State    object
Y2002     int64
Y2003     int64
Y2004     int64
Y2005     int64
Y2006     int64
Y2007     int64
Y2008     int64
Y2009     int64
Y2010     int64
Y2011     int64
Y2012     int64
Y2013     int64
Y2014     int64
Y2015     int64
dtype: object
(51, 16)
  Index       State    Y2002    Y2003    Y2004    Y2005    Y2006    Y2007  \
0     A     Alabama  1296530  1317711  1118631  1492583  1107408  1440134
1     A      Alaska  1170302  1960378  1818085  1447852  1861639  1465841
2     A     Arizona  1742027  1968140  1377583  1782199  1102568  1109382
3     A    Arkansas  1485531  1994927  1119299  1947979  1669191  1801213
4     C  California  1685349  1675807  1889570  1480280  1735069  1812546

     Y2008    Y2009    Y2010    Y2011    Y2012    Y2013    Y2014    Y2015
0  1945229  1944173  1237582  1440756  1186741  1852841  1558906  1916661
1  1551826  1436541  1629616  1230866  1512804  1985302  1580394  1979143
2  1752886  1554330  1300521  1130709  1907284  1363279  1525866  1647724
3  1188104  1628980  1669295  1928238  1216675  1591896  1360959  1329341
4  1487315  1663809  1624509  1639670  1921845  1156536  1388461  1644607
  Index    State    Y2002    Y2003    Y2004    Y2005    Y2006    Y2007  \
0     A  Alabama  1296530  1317711  1118631  1492583  1107408  1440134
1     A   Alaska  1170302  1960378  1818085  1447852  1861639  1465841

     Y2008    Y2009    Y2010    Y2011    Y2012    Y2013    Y2014    Y2015
0  1945229  1944173  1237582  1440756  1186741  1852841  1558906  1916661
1  1551826  1436541  1629616  1230866  1512804  1985302  1580394  1979143
  Index       State    Y2002    Y2003    Y2004    Y2005    Y2006    Y2007  \
0     A     Alabama  1296530  1317711  1118631  1492583  1107408  1440134
1     A      Alaska  1170302  1960378  1818085  1447852  1861639  1465841
2     A     Arizona  1742027  1968140  1377583  1782199  1102568  1109382
3     A    Arkansas  1485531  1994927  1119299  1947979  1669191  1801213
4     C  California  1685349  1675807  1889570  1480280  1735069  1812546

     Y2008    Y2009    Y2010    Y2011    Y2012    Y2013    Y2014    Y2015
0  1945229  1944173  1237582  1440756  1186741  1852841  1558906  1916661
1  1551826  1436541  1629616  1230866  1512804  1985302  1580394  1979143
2  1752886  1554330  1300521  1130709  1907284  1363279  1525866  1647724
3  1188104  1628980  1669295  1928238  1216675  1591896  1360959  1329341
4  1487315  1663809  1624509  1639670  1921845  1156536  1388461  1644607
  Index       State    Y2002    Y2003    Y2004    Y2005    Y2006    Y2007  \
0     A     Alabama  1296530  1317711  1118631  1492583  1107408  1440134
1     A      Alaska  1170302  1960378  1818085  1447852  1861639  1465841
2     A     Arizona  1742027  1968140  1377583  1782199  1102568  1109382
3     A    Arkansas  1485531  1994927  1119299  1947979  1669191  1801213
4     C  California  1685349  1675807  1889570  1480280  1735069  1812546

     Y2008    Y2009    Y2010    Y2011    Y2012    Y2013    Y2014    Y2015
0  1945229  1944173  1237582  1440756  1186741  1852841  1558906  1916661
1  1551826  1436541  1629616  1230866  1512804  1985302  1580394  1979143
2  1752886  1554330  1300521  1130709  1907284  1363279  1525866  1647724
3  1188104  1628980  1669295  1928238  1216675  1591896  1360959  1329341
4  1487315  1663809  1624509  1639670  1921845  1156536  1388461  1644607
0    1
1    2
2    3
3    1
4    2
dtype: category
Categories (3, int64): [1, 2, 3]
['A' 'C' 'D' 'F' 'G' 'H' 'I' 'K' 'L' 'M' 'N' 'O' 'P' 'R' 'S' 'T' 'U' 'V'
 'W']
State  Alabama  Alaska  Arizona  Arkansas  California  Colorado  Connecticut  \
Index
A            1       1        1         1           0         0            0
C            0       0        0         0           1         1            1
D            0       0        0         0           0         0            0
F            0       0        0         0           0         0            0
G            0       0        0         0           0         0            0
H            0       0        0         0           0         0            0
I            0       0        0         0           0         0            0
K            0       0        0         0           0         0            0
L            0       0        0         0           0         0            0
M            0       0        0         0           0         0            0
N            0       0        0         0           0         0            0
O            0       0        0         0           0         0            0
P            0       0        0         0           0         0            0
R            0       0        0         0           0         0            0
S            0       0        0         0           0         0            0
T            0       0        0         0           0         0            0
U            0       0        0         0           0         0            0
V            0       0        0         0           0         0            0
W            0       0        0         0           0         0            0

State  Delaware  District of Columbia  Florida  ...  South Dakota  Tennessee  \
Index                                           ...
A             0                     0        0  ...             0          0
C             0                     0        0  ...             0          0
D             1                     1        0  ...             0          0
F             0                     0        1  ...             0          0
G             0                     0        0  ...             0          0
H             0                     0        0  ...             0          0
I             0                     0        0  ...             0          0
K             0                     0        0  ...             0          0
L             0                     0        0  ...             0          0
M             0                     0        0  ...             0          0
N             0                     0        0  ...             0          0
O             0                     0        0  ...             0          0
P             0                     0        0  ...             0          0
R             0                     0        0  ...             0          0
S             0                     0        0  ...             1          0
T             0                     0        0  ...             0          1
U             0                     0        0  ...             0          0
V             0                     0        0  ...             0          0
W             0                     0        0  ...             0          0

State  Texas  Utah  Vermont  Virginia  Washington  West Virginia  Wisconsin  \
Index
A          0     0        0         0           0              0          0
C          0     0        0         0           0              0          0
D          0     0        0         0           0              0          0
F          0     0        0         0           0              0          0
G          0     0        0         0           0              0          0
H          0     0        0         0           0              0          0
I          0     0        0         0           0              0          0
K          0     0        0         0           0              0          0
L          0     0        0         0           0              0          0
M          0     0        0         0           0              0          0
N          0     0        0         0           0              0          0
O          0     0        0         0           0              0          0
P          0     0        0         0           0              0          0
R          0     0        0         0           0              0          0
S          0     0        0         0           0              0          0
T          1     0        0         0           0              0          0
U          0     1        0         0           0              0          0
V          0     0        1         1           0              0          0
W          0     0        0         0           1              1          1

State  Wyoming
Index
A            0
C            0
D            0
F            0
G            0
H            0
I            0
K            0
L            0
M            0
N            0
O            0
P            0
R            0
S            0
T            0
U            0
V            0
W            1

[19 rows x 51 columns]
   Index         State    Y2002    Y2003    Y2004    Y2005    Y2006    Y2007  \
1      A        Alaska  1170302  1960378  1818085  1447852  1861639  1465841
10     G       Georgia  1929009  1541565  1810773  1779091  1326846  1223770
34     N  North Dakota  1618807  1510193  1876940  1443172  1425030  1868788
35     O          Ohio  1802132  1648498  1441386  1670280  1534888  1314824
12     I         Idaho  1353210  1438538  1739154  1541015  1122387  1772050

      Y2008    Y2009    Y2010    Y2011    Y2012    Y2013    Y2014    Y2015
1   1551826  1436541  1629616  1230866  1512804  1985302  1580394  1979143
10  1773090  1630325  1145473  1851245  1850111  1887157  1259353  1725470
34  1720352  1671468  1534571  1271132  1430978  1529024  1563898  1604118
35  1516621  1511460  1585465  1887714  1227303  1840898  1880804  1573117
12  1335481  1748608  1436809  1456340  1643855  1312561  1713718  1757171
   Index        State    Y2002    Y2003    Y2004    Y2005    Y2006    Y2007  \
6      C  Connecticut  1610512  1232844  1181949  1518933  1841266  1976976
4      C   California  1685349  1675807  1889570  1480280  1735069  1812546
35     O         Ohio  1802132  1648498  1441386  1670280  1534888  1314824
47     W   Washington  1977749  1687136  1199490  1163092  1334864  1621989
10     G      Georgia  1929009  1541565  1810773  1779091  1326846  1223770

      Y2008    Y2009    Y2010    Y2011    Y2012    Y2013    Y2014    Y2015
6   1764457  1972730  1968730  1945524  1228529  1582249  1503156  1718072
4   1487315  1663809  1624509  1639670  1921845  1156536  1388461  1644607
35  1516621  1511460  1585465  1887714  1227303  1840898  1880804  1573117
47  1545621  1555554  1179331  1150089  1775787  1273834  1387428  1377341
10  1773090  1630325  1145473  1851245  1850111  1887157  1259353  1725470
0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: State, dtype: object
0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: State, dtype: object
   Index                 State    Y2008
0      A               Alabama  1945229
1      A                Alaska  1551826
2      A               Arizona  1752886
3      A              Arkansas  1188104
4      C            California  1487315
5      C              Colorado  1875146
6      C           Connecticut  1764457
7      D              Delaware  1762096
8      D  District of Columbia  1193245
9      F               Florida  1756185
10     G               Georgia  1773090
11     H                Hawaii  1919423
12     I                 Idaho  1335481
13     I              Illinois  1871645
14     I               Indiana  1139551
15     I                  Iowa  1317983
16     K                Kansas  1949478
17     K              Kentucky  1301848
18     L             Louisiana  1185085
19     M                 Maine  1295877
20     M              Maryland  1112765
21     M         Massachusetts  1978904
22     M              Michigan  1990431
23     M             Minnesota  1328133
24     M           Mississippi  1428291
25     M              Missouri  1735099
26     M               Montana  1251742
27     N              Nebraska  1140598
28     N                Nevada  1903270
29     N         New Hampshire  1762936
30     N            New Jersey  1568034
31     N            New Mexico  1237704
32     N              New York  1732098
33     N        North Carolina  1267737
34     N          North Dakota  1720352
35     O                  Ohio  1516621
36     O              Oklahoma  1256746
37     O                Oregon  1482786
38     P          Pennsylvania  1274168
39     R          Rhode Island  1151409
40     S        South Carolina  1250499
41     S          South Dakota  1171870
42     T             Tennessee  1826406
43     T                 Texas  1785986
44     U                  Utah  1939284
45     V               Vermont  1123567
46     V              Virginia  1803330
47     W            Washington  1545621
48     W         West Virginia  1238174
49     W             Wisconsin  1980167
50     W               Wyoming  1587602
   Index                 State    Y2008
0      A               Alabama  1945229
1      A                Alaska  1551826
2      A               Arizona  1752886
3      A              Arkansas  1188104
4      C            California  1487315
5      C              Colorado  1875146
6      C           Connecticut  1764457
7      D              Delaware  1762096
8      D  District of Columbia  1193245
9      F               Florida  1756185
10     G               Georgia  1773090
11     H                Hawaii  1919423
12     I                 Idaho  1335481
13     I              Illinois  1871645
14     I               Indiana  1139551
15     I                  Iowa  1317983
16     K                Kansas  1949478
17     K              Kentucky  1301848
18     L             Louisiana  1185085
19     M                 Maine  1295877
20     M              Maryland  1112765
21     M         Massachusetts  1978904
22     M              Michigan  1990431
23     M             Minnesota  1328133
24     M           Mississippi  1428291
25     M              Missouri  1735099
26     M               Montana  1251742
27     N              Nebraska  1140598
28     N                Nevada  1903270
29     N         New Hampshire  1762936
30     N            New Jersey  1568034
31     N            New Mexico  1237704
32     N              New York  1732098
33     N        North Carolina  1267737
34     N          North Dakota  1720352
35     O                  Ohio  1516621
36     O              Oklahoma  1256746
37     O                Oregon  1482786
38     P          Pennsylvania  1274168
39     R          Rhode Island  1151409
40     S        South Carolina  1250499
41     S          South Dakota  1171870
42     T             Tennessee  1826406
43     T                 Texas  1785986
44     U                  Utah  1939284
45     V               Vermont  1123567
46     V              Virginia  1803330
47     W            Washington  1545621
48     W         West Virginia  1238174
49     W             Wisconsin  1980167
50     W               Wyoming  1587602
  Index    State    Y2008
0     A  Alabama  1945229
1     A   Alaska  1551826
2     A  Arizona  1752886
   Index                 State    Y2002    Y2003    Y2004    Y2005    Y2006  \
0      A               Alabama  1296530  1317711  1118631  1492583  1107408
1      A                Alaska  1170302  1960378  1818085  1447852  1861639
2      A               Arizona  1742027  1968140  1377583  1782199  1102568
3      A              Arkansas  1485531  1994927  1119299  1947979  1669191
4      C            California  1685349  1675807  1889570  1480280  1735069
5      C              Colorado  1343824  1878473  1886149  1236697  1871471
6      C           Connecticut  1610512  1232844  1181949  1518933  1841266
7      D              Delaware  1330403  1268673  1706751  1403759  1441351
8      D  District of Columbia  1111437  1993741  1374643  1827949  1803852
9      F               Florida  1964626  1468852  1419738  1362787  1339608
10     G               Georgia  1929009  1541565  1810773  1779091  1326846
11     H                Hawaii  1461570  1200280  1213993  1245931  1459383
12     I                 Idaho  1353210  1438538  1739154  1541015  1122387
13     I              Illinois  1508356  1527440  1493029  1261353  1540274
14     I               Indiana  1776918  1734104  1269927  1204117  1848073
15     I                  Iowa  1499269  1444576  1576367  1388924  1554813
16     K                Kansas  1509054  1290700  1522230  1532094  1104256
17     K              Kentucky  1813878  1448846  1800760  1250524  1137913
18     L             Louisiana  1584734  1110625  1868456  1751920  1233709
19     M                 Maine  1582720  1678622  1208496  1912040  1438549
20     M              Maryland  1579713  1404700  1849798  1397738  1310270
21     M         Massachusetts  1647582  1686259  1620601  1777250  1531641
22     M              Michigan  1295635  1149931  1601027  1340716  1729449
23     M             Minnesota  1729921  1675204  1903907  1561839  1985692
24     M           Mississippi  1983285  1292558  1631325  1943311  1354579
25     M              Missouri  1221316  1858368  1773451  1573967  1374863

AttributeError: module 'pandas' has no attribute 'DataFram'